.container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.container canvas {
  display: block;
}
